@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

$blue: #0014dd;

h3 {
  margin: 0;
}

.template {
  display: flex;
  width: 270px;
  height: 360px;
  margin-left: calc((100% - (270 * 3)px) / 6);
  margin-right: calc((100% - (270 * 3)px) / 6);
  margin-bottom: 65px;
  @media (max-width: 1390px) {   //270*4+15*8+55*2+80
    margin-left: calc((100% - (270 * 2)px) / 4);
    margin-right: calc((100% - (270 * 2)px) / 4);
  }
  @media (max-width: 1090px) {   //270*3+15*6+55*2+80
    margin-left: calc((100% - 270px) / 2);
    margin-right: calc((100% - 270px) / 2);
  }
  @media (max-width: 790px) {   //270*2+15*4+55*2+80
  }
}

.tile {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  padding: 16px;
  position: relative;
  outline: 3px solid transparent;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
  // @media (max-width: 992px) {
  //   width: 270px;
  //   margin: 30px auto;
  // }
  &--bg {
    &_red {
      background-image: url('../../assets/images/recipes/red.png');
    }
    &_pink {
      background-image: url('../../assets/images/recipes/pink.png');
    }
    &_green {
      background-image: url('../../assets/images/recipes/green.png');
    }
    &_orange {
      background-image: url('../../assets/images/recipes/orange.png');
    }
    &_gray {
      background-image: url('../../assets/images/recipes/gray.png');
    }
    &_blue {
      background-image: url('../../assets/images/recipes/blue.png');
    }
  }
  &.selected {
    &::before {
      opacity: 1;
      background-image: url('../../assets/images/recipes/icons/checkmark.png');
    }
    outline-color: #60c675;
    @media (min-width: 991px) {
      &:hover {
        &::before {
          opacity: 1;
          background-image: url('../../assets/images/recipes/icons/cross.png');
        }
        outline-color: #d0021b;
      }
    }
  }
  &::before {
    content: '';
    width: 56px;
    height: 56px;
    position: absolute;
    top: -23px;
    right: -26px;
    background-size: 100% 100%;
    opacity: 0;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }
  @media (min-width: 991px) {
    &:hover:not(.selected) {
      &::before {
        opacity: 1;
        background-image: url('../../assets/images/recipes/icons/plus.png');
      }
      outline-color: $blue;
    }
  }
  &__title {
    color: $blue;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    // @media (min-width: 992px) and (max-width: 1200px) {
    //   font-size: 21px
    //   }
  }
  &__icons {
    position: absolute;
    bottom: 6px;
    right: 9px;
  }
  &__group {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 24px;
    width: 188px;
    // @media (max-width: 1201px) and (min-width: 992px) {
    //   width: 87%;
    // }
    // @media (max-width: 768px) {
    //   width: 69%;
    // }
  }
  &__btn {
    width: 88px;
    line-height: 24px;
    text-align: center;
    border-radius: 12px;
    background-color: #fff;
    text-decoration: none;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    color: $blue;
    letter-spacing: 0.89px;
    font-family: Roboto, sans-serif;
    float: right;
    pointer-events: none;
    cursor: default;
    &:hover {
      text-decoration: none;
    }
    &--bgc {
      &_red {
        background-color: #fdd8dd;
        float: left;
      }
      &_pink {
        background-color: #f3daff;
        float: left;
      }
      &_green {
        background-color: #b0efd5;
        float: left;
      }
      &_orange {
        background-color: #ffeed3;
        float: left;
      }
      &_blue {
        background-color: #d7defc;
        float: left;
      }
      &_gray {
        background-color: #e1e7e9;
        float: left;
      }
    }
  }
}

.tileD {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  padding: 16px;
  position: relative;
  outline: 3px solid transparent;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
  // @media (max-width: 992px) {
  //   width: 270px;
  //   margin: 30px auto;
  // }
  &--bg {
    &_red {
      background-image: url('../../assets/images/recipes/red.png');
    }
    &_pink {
      background-image: url('../../assets/images/recipes/pink.png');
    }
    &_green {
      background-image: url('../../assets/images/recipes/green.png');
    }
    &_orange {
      background-image: url('../../assets/images/recipes/orange.png');
    }
    &_gray {
      background-image: url('../../assets/images/recipes/gray.png');
    }
    &_blue {
      background-image: url('../../assets/images/recipes/blue.png');
    }
  }
  &__title {
    color: $blue;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    // @media (min-width: 992px) and (max-width: 1200px) {
    //   font-size: 21px
    //   }
  }
  &__icons {
    position: absolute;
    bottom: 6px;
    right: 9px;
  }
  &__group {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 24px;
    width: 188px;
    // @media (max-width: 1201px) and (min-width: 992px) {
    //   width: 87%;
    // }
    // @media (max-width: 768px) {
    //   width: 69%;
    // }
  }
  &__btn {
    width: 88px;
    line-height: 24px;
    text-align: center;
    border-radius: 12px;
    background-color: #fff;
    text-decoration: none;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    color: $blue;
    letter-spacing: 0.89px;
    font-family: Roboto, sans-serif;
    float: right;
    pointer-events: none;
    cursor: default;
    &:hover {
      text-decoration: none;
    }
    &--bgc {
      &_red {
        background-color: #fdd8dd;
        float: left;
      }
      &_pink {
        background-color: #f3daff;
        float: left;
      }
      &_green {
        background-color: #b0efd5;
        float: left;
      }
      &_orange {
        background-color: #ffeed3;
        float: left;
      }
      &_blue {
        background-color: #d7defc;
        float: left;
      }
      &_gray {
        background-color: #e1e7e9;
        float: left;
      }
    }
  }
}