.login {
  display: flex;
  height: 100vh;
  width: 1440px;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/background-login.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: white;
  margin: auto;
  @media (max-width: 1440px) {
    width: 100%;
  }
  @media (max-width: 1024px) {
  }
  @media (max-width: 576px) {
    background-image: none;
  }
  &-section {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 340px;
    height: 509px;
    left: calc((100vw - 1440px) / 2 + 320px);
    border-radius: 4px;
    box-shadow: 0 0px 5px 0 rgba(0,0,0,.5);
    padding: 40px;
    background-color: white;
    @media (max-width: 1440px) {
      left: 20%;
    }
    @media (max-width: 1024px), (max-height: 620px) {
      width: 280px;
      height: 400px;
    }
    @media (max-width: 768px) {
      position: relative;
      justify-content: center;
      left: 0;
    }
    @media (max-width: 576px) {
      box-shadow: none;
      border: none;
    }
    &-logo {
      display: flex;
      justify-content: flex-start;
      img {
        width: 47px;
        height: 49px;
        @media (max-width: 1024px), (max-height: 620px) {
          width: 29px;
          height: 30px;
        }
      }
    }
    &-title {
      h1 {
        font-size: 50px;
        margin: 20px 0 30px;
        @media (max-width: 1024px), (max-height: 620px) {
          font-size: 38px;
          margin: 17px 0 22px;
        }
      }
    }
    &-form {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .input-email-section {
        width: 100%;
        margin-bottom: 20px;
        @media (max-width: 1024px), (max-height: 620px) {
          margin-bottom: 12px;
        }
      }
      .input-password-section {
        width: 100%;
        margin-bottom: 14px;
      }
      a {
        width: 100%;
        height: 17px;
        font-family: 'Poppins';
        font-size: 12px;
        color: #0014dd;
        margin-bottom: 42px;
        @media (max-width: 1024px), (max-height: 620px) {
          margin-bottom: 30px;
        }
      }
    }
  }
}

p {
  width: 100%;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  color: #0014dd;
}

.input-item {
  display: flex;
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  border: solid 0.5px #0014dd;
  @media (max-width: 1024px), (max-height: 620px) {
    height: 30px;
    font-size: 16px;
  }
}

.btn-login {
  width: 100%;
  height: 40px;
  color: white;
  font-size: 16px;
  border-radius: 24px;
  background-color: #0014dd;
  outline: none;
}